.icon-01 {
  width: 1.25em;
  height: 1em;
  fill: #fff;
  stroke: #a0a0a0;
}
.icon-02 {
  width: 1.49em;
  height: 1em;
  fill: none;
  stroke: #A0A0A0;
}
.icon-03 {
  width: 1.5em;
  height: 1em;
  fill: none;
  stroke: #A0A0A0;
}
.icon-04 {
  width: 1.6em;
  height: 1em;
  fill: none;
  stroke: #A0A0A0;
}
.icon-05 {
  width: 1.53em;
  height: 1em;
  fill: none;
  stroke: #A0A0A0;
}
.icon-06 {
  width: 1.57em;
  height: 1em;
  fill: none;
  stroke: #A0A0A0;
}
.icon-advantage-1 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-advantage-2 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-advantage-3 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-advantage-4 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-advantage-5 {
  width: 0.7em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-advantage-6 {
  width: 0.88em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-menu-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-menu-open {
  width: 2.43em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-mobile-top {
  width: 0.26em;
  height: 1em;
  fill: #1212B9;
  stroke: initial;
}
.icon-skype {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-slack {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-submit {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-twitter-pink {
  width: 1em;
  height: 1em;
  fill: #db285e;
  stroke: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
