+b.SECTION.advantage#advantage(data-scroll-section)
	+e.container.container
		+e.H2.title Наши приемущества
		-
			advList = [[
			'Целевой контент в коммуникациях',
			'Подключение внешней информационной системы или базы знаний о продукте/услуге.'
			], [
			'Мультимедийный контент',
			'Отправка фото и видео контента, местоположения.'
			], [
			'Статистика коммуникаций',
			'Различная статистика позволит правильно спозиционировать ваш продукт.'
			], [
			'Программируемые сценарии бота',
			'Произвольные сценарии и ветвления диалога в зависимости от контекста.'
			], [
			'Оплата товаров или услуг',
			'Возможно подключить любую платежную систему и выписывать счета.'
			], [
			'Искусственный интеллект',
			'Разумное поведение бота, почти как человек.'
			]]
		+e.list-counter
			+e.list-counter-current
			+e.list-counter-total
		+e.list
			each el, index in advList
				+e.list-item
					+e.list-item-row
						+e.list-item-left
							+i(`advantage-${index + 1}`)
						+e.list-item-right
							+e.H3.list-item-title= el[0]
					+e.P.list-item-text= el[1]