+b.SECTION.loc#loc(data-scroll-section)
	+e.container.container
		+e.H2.title Где это работает

		+e.slider-wrap
			+e.slider-counter
				+e.slider-counter-current
				+e.slider-counter-total
			+e.slider-btn
				-btnClass = '_default js-modal'
				-btnText = 'Заказать себе бот'
				-
					attributes = {
						'data-target': '#orderBot'
					}
				include ../../components/btn
			+e.slider
				+e.slider-item
					+e.slider-row
						+e.slider-left
							+e.H3.slider-title Новостные агенства
							+e.P.slider-text CNN, Forbes, TechCrunch имеют своих чат-ботов. Возможные сценарии: отправка новостей, подписка на новости, поиск новости по тегу. Боты отправляют текстовый, графический и видео контент. Возможно получение новостей от подписчиков.
						+e.slider-right
							+e.slider-image
								+e.IMG.slider-img(src='static/img/content/loc-slider-1.jpg' alt='image')
								+e.SVG.slider-image-svg(viewBox='0 0 498 434' preserveAspectRatio='none')
									path(d='M0,0v434h498V0H0z M274,433.1C151.8,442.1,63,386.2,28,330.8C-23.5,249,9.6,91.5,21,69.1S69.8-18.4,154.1,5c84.7,23.5,48.6,11.8,182.8,4.1s153.5,109.5,153.5,109.5C520.4,304.1,464.2,419,274,433.1z')

				+e.slider-item
					+e.slider-row
						+e.slider-left
							+e.H3.slider-title Новостные агенства и популярные агенства
							+e.P.slider-text CNN, Forbes, TechCrunch имеют своих чат-ботов.
						+e.slider-right
							+e.slider-image
								+e.IMG.slider-img(src='static/img/content/loc-slider-2.jpg' alt='image')
								+e.SVG.slider-image-svg(viewBox='0 0 498 434' preserveAspectRatio='none')
									path(d='M0,0v434h498V0H0z M274,433.1C151.8,442.1,63,386.2,28,330.8C-23.5,249,9.6,91.5,21,69.1S69.8-18.4,154.1,5c84.7,23.5,48.6,11.8,182.8,4.1s153.5,109.5,153.5,109.5C520.4,304.1,464.2,419,274,433.1z')

				+e.slider-item
					+e.slider-row
						+e.slider-left
							+e.H3.slider-title Новостные агенства будущего
							+e.P.slider-text CNN, Forbes, TechCrunch имеют своих чат-ботов. Возможные сценарии: отправка новостей, подписка на новости, поиск новости по тегу.
						+e.slider-right
							+e.slider-image
								+e.IMG.slider-img(src='static/img/content/loc-slider-3.jpg' alt='image')
								+e.SVG.slider-image-svg(viewBox='0 0 498 434' preserveAspectRatio='none')
									path(d='M0,0v434h498V0H0z M274,433.1C151.8,442.1,63,386.2,28,330.8C-23.5,249,9.6,91.5,21,69.1S69.8-18.4,154.1,5c84.7,23.5,48.6,11.8,182.8,4.1s153.5,109.5,153.5,109.5C520.4,304.1,464.2,419,274,433.1z')



