+b.SECTION.screen#screen(data-scroll-section)
	+e.content
		+e.container.container
			+e.content-in
				+e.H1.title НОВЫЙ ИНСТРУМЕНТ ПОСТРОЕНИЯ КОММУНИКАЦИЙ С ПОТРЕБИТЕЛЕМ
				+e.P.text Разрабатываем практичные решения, которые соответствуют целям наших клиентов, развивают городскую среду и увеличивают ценность проекта.
				+e.btn-wrap
					-btnClass = '_default __btn js-chat-init'
					-btnText = 'Начать чат с ботом'
					include ../../components/btn

	+e.canvas
		+e.SVG.svg.is-hidden
			path#path-screen-1(d='M7.9,21.4c7-8.1,11.4-9.1,25-15S89.2-9.6,96.5,21.2c7.4,31,11.1,76.3-17.6,81.3c-28.7,5-65-11.6-74-32S0.9,29.6,7.9,21.4z')
			path#path-screen-2(d='M26.829,69.534 C10.804,97.396 5.776,174.763 15.688,232.656 C25.600,290.549 53.135,349.188 76.995,347.954 C100.856,346.720 120.227,312.557 141.229,281.224 C162.232,249.893 216.211,181.984 285.876,163.581 C355.541,145.179 316.377,77.483 296.598,51.462 C270.570,17.221 214.893,5.394 148.096,6.155 C86.101,6.861 42.854,41.673 26.829,69.534 Z')
			path#path-screen-3(d='M109.2,8.2c18,10,47.7,39.2,49.4,68.4c1,16.8-18.4,56.6-72,68s-91.7-13.1-86-43c5.6-29.5,3.2-73.8,23-83C53.2,4.8,77.4-9.4,109.2,8.2z')
			path#path-screen-4(d='M9.9,48.7c8.5-11.1,16.2-19.8,27-33s29.6-21.3,49-11s54,54.1,25,88s-39.3,27.5-48,26s-59.3-25.3-62-39S1.4,59.8,9.9,48.7z')
			path#path-screen-5(d='M422.000,35.000 C401.288,17.180 363.156,5.151 309.438,45.911 C266.942,78.155 228.426,171.862 149.588,168.745 C57.253,165.096 5.979,217.322 11.362,269.880 C18.438,338.973 86.443,350.634 109.626,351.501 C132.769,352.366 153.070,343.415 175.564,331.527 C198.059,319.640 222.387,286.262 269.476,285.589 C316.564,284.915 333.312,331.871 356.394,348.505 C412.115,388.658 476.521,323.555 452.000,224.000 C426.739,121.443 470.266,76.525 422.000,35.000 Z')