+b({tag: btnTag ? btnTag : false}).btn(class= btnClass ? btnClass : '' href= btnRemoveHref ? false : '#!')&attributes(attributes)
	+e.text= btnText
	+e.DIV.bg
		+e.DIV.bg-left
			+e.DIV.bg-left-dot
			+e.DIV.bg-left-dot
			+e.DIV.bg-left-dot
		+e.DIV.bg-right
			+e.DIV.bg-right-dot
			+e.DIV.bg-right-dot
			+e.DIV.bg-right-dot
